@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  background-color: #FFF;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.33;
  font-weight: 700;

  &.skeleton {
    min-height: 28px;
    border-radius: 4px;
  }
}

.card-intro {
  margin-top: .75rem;
  line-height: 1.5;

  &.skeleton {
    min-height: 72px;
    border-radius: 4px;
  }
}

.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(
                  90deg,
                  rgba(#fff, 0),
                  rgba(#fff, 0.5),
                  rgba(#fff, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.active {
  border-left: 3px solid rgb(107 114 128);
}